In [40]:
import pandas as pd
join = pd.read_csv("진료내역온도_join_10_14_up30.csv")
join.head()

# 일단 불필요한 feature들은 없애고
#join.drop(join["Unnamend:0
# 이 옆에 건강보험 feature들을 key 값으로 join

join.shape

(5102082, 21)

In [41]:
join.head()

,Unnamed: 0,기준년도,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드,요양개시일자,서식코드,진료과목코드,...,부상병코드,요양일수,입내원일수,심결가산율,심결요양급여비용총액,심결본인부담금,심결보험자부담금,총처방일수,데이터 기준일자,최고기온
0,6354,2010,384409,6355,2,14,41,20100904,3,1,...,K297,1,1,15,8780,1500,7280,3,20151220,32.1
1,7073,2010,738356,7074,1,11,11,20100904,3,15,...,B356,1,1,15,12280,3600,8680,1,20151220,32.1
2,17973,2010,166646,17974,2,6,41,20100904,3,1,...,J304,1,1,15,8780,2600,6180,3,20151220,32.1
3,17985,2010,13950,17986,1,9,11,20100719,3,1,...,NaN,1,1,15,10270,3000,7270,2,20151220,31.9
4,24816,2010,86798,24817,2,12,27,20100706,3,1,...,NaN,1,1,15,8780,2600,6180,56,20151220,31.6

In [42]:
diag_pd = pd.read_csv("국민건강보험공단_건강검진정보_20221231 (1).CSV", encoding='cp949')
diag_pd.head()

,기준년도,가입자일련번호,시도코드,성별,연령대코드(5세단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,요단백,혈청크레아티닌,혈청지오티(AST),혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,치석
0,2022,702763,41,2,14,160,75,89.0,1.0,1.0,...,1.0,0.8,25.0,20.0,15.0,1.0,0.0,0,NaN,NaN
1,2022,765435,41,2,9,150,45,68.0,1.0,1.0,...,1.0,0.8,19.0,10.0,7.0,1.0,1.0,0,NaN,NaN
2,2022,343621,41,2,13,150,60,78.8,1.0,1.0,...,1.0,0.8,17.0,15.0,15.0,1.0,1.0,0,NaN,NaN
3,2022,3393534,41,2,6,160,50,69.0,1.0,1.0,...,1.0,0.8,25.0,16.0,13.0,1.0,1.0,0,NaN,NaN
4,2022,1716951,41,2,7,160,55,75.0,1.0,1.0,...,1.0,0.8,22.0,22.0,15.0,1.0,1.0,0,NaN,NaN

In [43]:
diag_pd.shape

(1000000, 30)

In [44]:
inner_join = pd.merge(join, diag_pd, left_on = "가입자 일련번호", right_on = "가입자일련번호", how = "inner")
inner_join.head()

,Unnamed: 0,기준년도_x,가입자 일련번호,진료내역일련번호,성별코드,연령대코드,시도코드_x,요양개시일자,서식코드,진료과목코드,...,요단백,혈청크레아티닌,혈청지오티(AST),혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,치석
0,7073,2010,738356,7074,1,11,11,20100904,3,15,...,1.0,0.9,38.0,93.0,33.0,3.0,0.0,0,NaN,NaN
1,4206104,2010,738356,4206105,1,11,11,20100723,3,13,...,1.0,0.9,38.0,93.0,33.0,3.0,0.0,0,NaN,NaN
2,5371900,2010,738356,5371901,1,11,11,20100706,3,21,...,1.0,0.9,38.0,93.0,33.0,3.0,0.0,0,NaN,NaN
3,5121723,2012,738356,5121724,1,6,31,20120808,3,15,...,1.0,0.9,38.0,93.0,33.0,3.0,0.0,0,NaN,NaN
4,4315297,2014,738356,4315298,2,15,47,20140529,8,0,...,1.0,0.9,38.0,93.0,33.0,3.0,0.0,0,NaN,NaN

In [45]:
inner_join.shape

(1024707, 51)

In [46]:
inner_join.to_csv("10_14년도_30도이상_건강검진과inner.csv", encoding="utf-8-sig")

In [3]:
diag_pd = pd.read_csv("국민건강보험공단_건강검진정보_20221231 (1).CSV", encoding='cp949')
diag_pd.head()

,기준년도,가입자일련번호,시도코드,성별,연령대코드(5세단위),신장(5cm단위),체중(5kg단위),허리둘레,시력(좌),시력(우),...,요단백,혈청크레아티닌,혈청지오티(AST),혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,치석
0,2022,702763,41,2,14,160,75,89.0,1.0,1.0,...,1.0,0.8,25.0,20.0,15.0,1.0,0.0,0,NaN,NaN
1,2022,765435,41,2,9,150,45,68.0,1.0,1.0,...,1.0,0.8,19.0,10.0,7.0,1.0,1.0,0,NaN,NaN
2,2022,343621,41,2,13,150,60,78.8,1.0,1.0,...,1.0,0.8,17.0,15.0,15.0,1.0,1.0,0,NaN,NaN
3,2022,3393534,41,2,6,160,50,69.0,1.0,1.0,...,1.0,0.8,25.0,16.0,13.0,1.0,1.0,0,NaN,NaN
4,2022,1716951,41,2,7,160,55,75.0,1.0,1.0,...,1.0,0.8,22.0,22.0,15.0,1.0,1.0,0,NaN,NaN

In [47]:
join_22 = pd.read_csv("10_14년도_30도이상_건강검진과inner.csv")

In [48]:
join_22.keys()

Index(['Unnamed: 0.1', 'Unnamed: 0', '기준년도_x', '가입자 일련번호', '진료내역일련번호', '성별코드',
       '연령대코드', '시도코드_x', '요양개시일자', '서식코드', '진료과목코드', '주상병코드', '부상병코드', '요양일수',
       '입내원일수', '심결가산율', '심결요양급여비용총액', '심결본인부담금', '심결보험자부담금', '총처방일수',
       '데이터 기준일자', '최고기온', '기준년도_y', '가입자일련번호', '시도코드_y', '성별', '연령대코드(5세단위)',
       '신장(5cm단위)', '체중(5kg단위)', '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)',
       '수축기혈압', '이완기혈압', '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤',
       'LDL콜레스테롤', '혈색소', '요단백', '혈청크레아티닌', '혈청지오티(AST)', '혈청지피티(ALT)',
       '감마지티피', '흡연상태', '음주여부', '구강검진수검여부', '치아우식증유무', '치석'],
      dtype='object')

In [49]:
join_22 = pd.read_csv("10_14년도_30도이상_건강검진과inner.csv")
del join_22["데이터 기준일자"]
del join_22["가입자 일련번호"]
del join_22["Unnamed: 0.1"]
del join_22["Unnamed: 0"]

join_22.keys()
join_22 = join_22[['기준년도_x', '가입자일련번호', '진료내역일련번호', '성별코드', '연령대코드', '시도코드_x', '요양개시일자',
       '서식코드', '진료과목코드', '주상병코드', '부상병코드', '요양일수', '입내원일수', '심결가산율',
       '심결요양급여비용총액', '심결본인부담금', '심결보험자부담금', '총처방일수', '최고기온', '기준년도_y',
       '시도코드_y', '성별', '연령대코드(5세단위)', '신장(5cm단위)', '체중(5kg단위)', '허리둘레',
       '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압', '이완기혈압', '식전혈당(공복혈당)',
       '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤', '혈색소', '요단백', '혈청크레아티닌',
       '혈청지오티(AST)', '혈청지피티(ALT)', '감마지티피', '흡연상태', '음주여부', '구강검진수검여부',
       '치아우식증유무', '치석']]

join_22.keys()

#빼야할 피처: 데이터 기준일자 , 가입자 일련변호

Index(['기준년도_x', '가입자일련번호', '진료내역일련번호', '성별코드', '연령대코드', '시도코드_x', '요양개시일자',
       '서식코드', '진료과목코드', '주상병코드', '부상병코드', '요양일수', '입내원일수', '심결가산율',
       '심결요양급여비용총액', '심결본인부담금', '심결보험자부담금', '총처방일수', '최고기온', '기준년도_y',
       '시도코드_y', '성별', '연령대코드(5세단위)', '신장(5cm단위)', '체중(5kg단위)', '허리둘레',
       '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압', '이완기혈압', '식전혈당(공복혈당)',
       '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤', '혈색소', '요단백', '혈청크레아티닌',
       '혈청지오티(AST)', '혈청지피티(ALT)', '감마지티피', '흡연상태', '음주여부', '구강검진수검여부',
       '치아우식증유무', '치석'],
      dtype='object')

In [32]:
join_22.head()

,기준년도_x,가입자일련번호,진료내역일련번호,성별코드,연령대코드,시도코드_x,요양개시일자,서식코드,진료과목코드,주상병코드,...,요단백,혈청크레아티닌,혈청지오티(AST),혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,치석
0,2010,450770,35839,2,9,29,20100809,3,15,N30,...,1.0,0.8,19.0,19.0,33.0,3.0,0.0,0,NaN,NaN
1,2013,450770,6152726,1,14,30,20130808,3,1,Z98,...,1.0,0.8,19.0,19.0,33.0,3.0,0.0,0,NaN,NaN
2,2013,450770,6152727,1,14,30,20130812,3,1,Z98,...,1.0,0.8,19.0,19.0,33.0,3.0,0.0,0,NaN,NaN
3,2013,450770,6696728,1,14,30,20130816,3,5,M25,...,1.0,0.8,19.0,19.0,33.0,3.0,0.0,0,NaN,NaN
4,2010,16377,36441,2,16,11,20100809,3,14,L72,...,1.0,0.7,22.0,15.0,17.0,1.0,0.0,0,NaN,NaN

In [50]:
join_10_14 = pd.read_csv("2022년도_30도이상_건강검진과inner.csv")
del join_10_14["Unnamed: 0"]
del join_10_14["Unnamed: 0.1"]
del join_10_14["Unnamed: 0.2"]
del join_10_14["Unnamed: 0.3"]
del join_10_14["Unnamed: 0.4"]


join_10_14.keys()

Index(['기준년도_x', '가입자일련번호', '진료내역일련번호', '성별코드', '연령대코드', '시도코드_x', '요양개시일자',
       '서식코드', '진료과목코드', '주상병코드', '부상병코드', '요양일수', '입내원일수', '심결가산율',
       '심결요양급여비용총액', '심결본인부담금', '심결보험자부담금', '총처방일수', '최고기온', '기준년도_y',
       '시도코드_y', '성별', '연령대코드(5세단위)', '신장(5cm단위)', '체중(5kg단위)', '허리둘레',
       '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압', '이완기혈압', '식전혈당(공복혈당)',
       '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤', '혈색소', '요단백', '혈청크레아티닌',
       '혈청지오티(AST)', '혈청지피티(ALT)', '감마지티피', '흡연상태', '음주여부', '구강검진수검여부',
       '치아우식증유무', '치석'],
      dtype='object')

In [51]:
join_10_14.head()

,기준년도_x,가입자일련번호,진료내역일련번호,성별코드,연령대코드,시도코드_x,요양개시일자,서식코드,진료과목코드,주상병코드,...,요단백,혈청크레아티닌,혈청지오티(AST),혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,치석
0,2022,399487,10049046,2,14,41,2022-05-24,3,1,E78,...,1.0,0.6,26.0,20.0,21.0,1.0,0.0,0,NaN,NaN
1,2022,399487,9964735,2,14,41,2022-07-25,3,1,I10,...,1.0,0.6,26.0,20.0,21.0,1.0,0.0,0,NaN,NaN
2,2022,399487,9964725,2,14,41,2022-07-19,3,13,H81,...,1.0,0.6,26.0,20.0,21.0,1.0,0.0,0,NaN,NaN
3,2022,399487,9964723,2,14,41,2022-07-05,3,13,H81,...,1.0,0.6,26.0,20.0,21.0,1.0,0.0,0,NaN,NaN
4,2022,32649,11551016,2,14,41,2022-05-24,3,1,K29,...,1.0,0.8,24.0,16.0,11.0,1.0,1.0,1,1.0,2.0

In [52]:
con_df = pd.concat([join_22, join_10_14])
con_df.head()

,기준년도_x,가입자일련번호,진료내역일련번호,성별코드,연령대코드,시도코드_x,요양개시일자,서식코드,진료과목코드,주상병코드,...,요단백,혈청크레아티닌,혈청지오티(AST),혈청지피티(ALT),감마지티피,흡연상태,음주여부,구강검진수검여부,치아우식증유무,치석
0,2010,738356,7074,1,11,11,20100904,3,15,N34,...,1.0,0.9,38.0,93.0,33.0,3.0,0.0,0,NaN,NaN
1,2010,738356,4206105,1,11,11,20100723,3,13,J42,...,1.0,0.9,38.0,93.0,33.0,3.0,0.0,0,NaN,NaN
2,2010,738356,5371901,1,11,11,20100706,3,21,M15,...,1.0,0.9,38.0,93.0,33.0,3.0,0.0,0,NaN,NaN
3,2012,738356,5121724,1,6,31,20120808,3,15,B35,...,1.0,0.9,38.0,93.0,33.0,3.0,0.0,0,NaN,NaN
4,2014,738356,4315298,2,15,47,20140529,8,0,I10,...,1.0,0.9,38.0,93.0,33.0,3.0,0.0,0,NaN,NaN

In [53]:
con_df.shape

(1287472, 48)

In [54]:
con_df.shape
con_df.to_csv("22_10_14년도_30도이상_건강검진과inner.csv", encoding="utf-8-sig")